<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
  <bean id="helloWorld" class="rh.study.spring.bean.HelloWorld">
    <property name="name" value="ruanhao"/>
  </bean>

  <!--<bean id="car" class="rh.study.spring.bean.factorybean.CarFactoryBean" carInfo="超级跑车,400,20000" />-->

  <bean id="circleA" class="rh.study.spring.bean.beancurrentlyincreationexception.constructor.CircleA">
    <constructor-arg index="0" ref="circleB" />
  </bean>
  <bean id="circleB" class="rh.study.spring.bean.beancurrentlyincreationexception.constructor.CircleB">
    <constructor-arg index="0" ref="circleC" />
  </bean>
  <bean id="circleC" class="rh.study.spring.bean.beancurrentlyincreationexception.constructor.CircleC">
    <constructor-arg index="0" ref="circleA" />
  </bean>
</beans>